* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 2px solid red;
}


.main   {
    font-size: 48px;

}

div {
    display: flex;
    justify-content: center;
    margin: 5px;
}